<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/lonelybar?serverTimezone=Asia/Taipei</property>
  <property name="hibernate.connection.username">cga10305</property>
  <property name="hibernate.connection.password">123qweqwe</property>
  
  

  <!-- <property name="hibernate.connection.datasource">java:comp/env/jdbc/javaFramework</property> -->

  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>

  <mapping class="com.pub.model.Pub" />
  <mapping class="com.pub.model.Pub_pics" />
  <mapping class="com.pub_rank.entity.Pub_Rank" />
<!--   <mapping class="web.order.entity.Customer" /> -->
<!--   <mapping class="web.order.entity.Order" /> -->

 </session-factory>
</hibernate-configuration>