<!-- Start Main Top -->
<script>
	let mainpath = window.location.pathname.substring(0,
		window.location.pathname.indexOf('/', 2));
</script>
<div class="main-top">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="right-phone-box">
					<p>
						Call US : <a href="#"> +886 912 123 456</a>
					</p>
				</div>
				<div class="our-link">
					<ul>
						<li><a href="my-account.html"><i class="fa fa-user s_color"></i> 會員專區 </a></li>
						<li><a href="about.html"><i class="fas fa-location-arrow"></i>
								我們的地址 </a></li>
						<li><a href="contact-us.html"><i class="fas fa-headset"></i>
								聯絡我們 </a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<button type="button" class="btn btn-warning">
					<a href="my-account.html" style="color: black">註冊</a>
				</button>
				<button type="button" class="btn btn-outline-light me-2">
					<a href="my-account.html" style="color: white">登入</a>
				</button>
				<div class="text-slid-box">
					<div id="offer-box" class="carouselTicker">
						<ul class="offer-box">
							<li><i class="fab fa-opencart"></i> 全新基酒上架 快來選購！</li>
							<li><i class="fab fa-opencart"></i> 調酒材料5~8折，不要錯過！</li>
							<li><i class="fab fa-opencart"></i> 琳瑯滿目的調酒器材8折起！</li>
							<li><i class="fab fa-opencart"></i> 世外桃源酒吧新開幕 經典調酒6折起！</li>
							<li><i class="fab fa-opencart"></i> 法國原裝進口葡萄酒 盡在商品專區</li>
							<li><i class="fab fa-opencart"></i> 室外調酒趴踢 熱烈舉行！</li>
							<li><i class="fab fa-opencart"></i> 寂寞嗎？來討論區揪團喝酒^^</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Main Top -->
<!-- Start Navigation -->
<header class="main-header">

	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
		<div class="container">
			<!-- Start Header Navigation -->
			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
					aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="index.html"><img id="logo3" src="images/Logo3.png" width="200px"
						height="80px" class="logo" alt=""></a>
			</div>
			<!-- End Header Navigation -->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-menu">
				<ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
					<li class="nav-item active"><a class="nav-link" href="index.html">首頁</a></li>
					<li class="nav-item"><a class="nav-link" href="about.html">關於我們</a></li>
					<li class="dropdown"><a href="#" class="nav-link dropdown" data-toggle="dropdown"
							style="font-weight: 1000;">購物專區</a>
						<ul class="dropdown-menu">
							<li><a href="shop.html">商品總覽</a></li>
							<li><a href="shop-detail.html">商品詳情</a></li>
							<li><a href="cart.html">購物車</a></li>
							<li><a href="checkout.html">前往結帳</a></li>
							<li><a href="my-account.html">會員專區</a></li>
						</ul>
					</li>
					<li class="nav-item"><a id="pub_map" class="nav-link"
							href="../front-end/pages/pub/pub_map.jsp">酒吧地圖</a></li>
					<li class="nav-item"><a class="nav-link" href="gallery.html">活動專區</a></li>
					<li class="nav-item"><a class="nav-link" href="gallery.html">討論園地</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->

			<!-- Start Atribute Navigation -->
			<div class="attr-nav">
				<ul>
					<li class="user"><a href="my-account.html"><img id="user" src="./images/user.png" width="28px"
								height="28px" /></a></li>
					<li class="side-menu"><a href="cart.html"><img id="shopping" src="./images/shopping-cart.png"
								width="35px" height="35px" /></a></li>
					<li class="search"><a href="#"><img id="search" src="./images/search2.png" width="35px"
								height="35px" /></a>
					</li>
				</ul>
			</div>
			<!-- End Atribute Navigation -->
		</div>
	</nav>
</header>
<!-- End Navigation -->

<!-- 該文件需部屬較慢 -->
<!-- <script id="customjs" src="js/custom.js"></script> -->
<script>
	let path = "http://";
	let hostname = window.location.host;
	let pathname = window.location.pathname.substring(0, window.location.pathname.indexOf('/', 2));
	let script = document.createElement('script')
	script.setAttribute("src", path + hostname + pathname + "/front-end/js/custom.js");
	let main_header = document.querySelector(".main-header")
	main_header.insertBefore(script, main_header.lastChild);
	document.querySelector("#logo3").setAttribute("src", path + hostname + pathname + "/front-end/images/Logo3.png")
	document.querySelector("#user").setAttribute("src", path + hostname + pathname + "/front-end/images/user.png")
	document.querySelector("#shopping").setAttribute("src", path + hostname + pathname + "/front-end/images/shopping-cart.png")
	document.querySelector("#search").setAttribute("src", path + hostname + pathname + "/front-end/images/search2.png")
</script>