<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>CGA103G5ALL</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/DBPool</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
<!-- 會員 -->
	<servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.mem.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/back-end/mem/mem.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemLoginServlet</servlet-name>
		<servlet-class>com.mem.controller.MemLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemLoginServlet</servlet-name>
		<url-pattern>/front-end/MemLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemLogoutServlet</servlet-name>
		<servlet-class>com.mem.controller.MemLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemLogoutServlet</servlet-name>
		<url-pattern>/front-end/MemLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemRegisterServlet</servlet-name>
		<servlet-class>com.mem.controller.MemRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemRegisterServlet</servlet-name>
		<url-pattern>/front-end/MemRegisterServlet</url-pattern>
	</servlet-mapping>

<!-- 商品 -->
	<servlet>
		<servlet-name>Cart_Servlet</servlet-name>
		<servlet-class>com.cart.controller.Cart_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cart_Servlet</servlet-name>
		<url-pattern>/front-end/cart/cart.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Prod_pic_Servlet</servlet-name>
		<servlet-class>com.prod_pic.controller.Prod_pic_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Prod_pic_Servlet</servlet-name>
		<url-pattern>/back-end/prod_pic/prod_pic.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Prod_Servlet</servlet-name>
		<servlet-class>com.prod.controller.Prod_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Prod_Servlet</servlet-name>
		<url-pattern>/back-end/prod/prod.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Prod_type_Servlet</servlet-name>
		<servlet-class>com.prod_type.controller.Prod_type_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Prod_type_Servlet</servlet-name>
		<url-pattern>/back-end/prod_type/prod_type.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Order_Servlet</servlet-name>
		<servlet-class>com.order.controller.Order_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Order_Servlet</servlet-name>
		<url-pattern>/back-end/order/order.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Order_detail_Servlet</servlet-name>
		<servlet-class>com.order_detail.controller.Order_detail_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Order_detail_Servlet</servlet-name>
		<url-pattern>/back-end/order_detail/order_detail.do</url-pattern>
	</servlet-mapping>

<!-- 酒吧 -->
	<servlet>
		<servlet-name>pubServlet</servlet-name>
		<servlet-class>com.pub.controller.PubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pubServlet</servlet-name>
		<url-pattern>/pub.do</url-pattern>
	</servlet-mapping>

<!-- 討論區 -->
	<servlet>
		<servlet-name>Forum_Servlet</servlet-name>
		<servlet-class>com.forum.controller.Forum_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Forum_Servlet</servlet-name>
		<url-pattern>/front-end/forum/forum.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Forum_article_Servlet</servlet-name>
		<servlet-class>com.forum_article.controller.Forum_article_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Forum_article_Servlet</servlet-name>
		<url-pattern>/front-end/forum/forum_article.do</url-pattern>
	</servlet-mapping>

<!-- 管理員 -->
	<servlet>
		<servlet-name>ManagerServlet</servlet-name>
		<servlet-class>com.manager.controller.ManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerServlet</servlet-name>
		<url-pattern>/back-end/manager/manager.do</url-pattern>
	</servlet-mapping>
	
</web-app>