<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>CGA103G5ALL</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/DBPool</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- 會員 -->
	<servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.mem.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/back-end/mem/mem.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemLoginServlet</servlet-name>
		<servlet-class>com.mem.controller.MemLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemLoginServlet</servlet-name>
		<url-pattern>/front-end/mem/MemLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemLogoutServlet</servlet-name>
		<servlet-class>com.mem.controller.MemLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemLogoutServlet</servlet-name>
		<url-pattern>/front-end/MemLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemRegisterServlet</servlet-name>
		<servlet-class>com.mem.controller.MemRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemRegisterServlet</servlet-name>
		<url-pattern>/front-end/mem/MemRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemChangePasswordServlet</servlet-name>
		<servlet-class>com.mem.controller.MemChangePasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemChangePasswordServlet</servlet-name>
		<url-pattern>/front-end/mem/MemChangePasswordServlet</url-pattern>
	</servlet-mapping>
	<!-- 優惠券 -->
	<servlet>
		<servlet-name>CouponServlet</servlet-name>
		<servlet-class>com.coupon.controller.CouponServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CouponServlet</servlet-name>
		<url-pattern>/back-end/coupon/coupon.do</url-pattern>
	</servlet-mapping>
	<!-- 商品 -->
	<servlet>
		<servlet-name>Cart_Servlet</servlet-name>
		<servlet-class>com.cart.controller.Cart_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cart_Servlet</servlet-name>
		<url-pattern>/front-end/prod/cart.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Prod_pic_Servlet</servlet-name>
		<servlet-class>com.prod_pic.controller.Prod_pic_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Prod_pic_Servlet</servlet-name>
		<url-pattern>/back-end/prod_pic/prod_pic.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Prod_Servlet</servlet-name>
		<servlet-class>com.prod.controller.Prod_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Prod_Servlet</servlet-name>
		<url-pattern>/back-end/prod/prod.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Prod_type_Servlet</servlet-name>
		<servlet-class>com.prod_type.controller.Prod_type_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Prod_type_Servlet</servlet-name>
		<url-pattern>/back-end/prod_type/prod_type.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Order_Servlet</servlet-name>
		<servlet-class>com.order.controller.Order_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Order_Servlet</servlet-name>
		<url-pattern>/back-end/order/order.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Order_detail_Servlet</servlet-name>
		<servlet-class>com.order_detail.controller.Order_detail_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Order_detail_Servlet</servlet-name>
		<url-pattern>/back-end/order_detail/order_detail.do</url-pattern>
	</servlet-mapping>

	<!-- 酒吧 -->
	<servlet>
		<servlet-name>pubServlet</servlet-name>
		<servlet-class>com.pub.controller.PubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pubServlet</servlet-name>
		<url-pattern>/pub.do</url-pattern>
	</servlet-mapping>

	<!-- 討論區 -->
	<servlet>
        <servlet-name>Forum_Servlet</servlet-name>
        <servlet-class>com.forum.controller.Forum_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Forum_Servlet</servlet-name>
        <url-pattern>/back-end/forum/forum.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Forum_article_Servlet</servlet-name>
        <servlet-class>com.forum_article.controller.Forum_article_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Forum_article_Servlet</servlet-name>
        <url-pattern>/back-end/forum_article/forum_article.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Forum_article_report_Servlet</servlet-name>
        <servlet-class>com.forum_article_report.controller.Forum_article_report_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Forum_article_report_Servlet</servlet-name>
        <url-pattern>/back-end/forum_article_report/forum_article_report.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Article_message_Servlet</servlet-name>
        <servlet-class>com.article_message.controller.Article_message_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Article_message_Servlet</servlet-name>
        <url-pattern>/back-end/article_message/article_message.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Article_message_report_Servlet</servlet-name>
        <servlet-class>com.article_message_report.controller.Article_message_report_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Article_message_report_Servlet</servlet-name>
        <url-pattern>/back-end/article_message_report/article_message_report.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Latest_news_Servlet</servlet-name>
        <servlet-class>com.latest_news.controller.Latest_news_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Latest_news_Servlet</servlet-name>
        <url-pattern>/back-end/latest_news/latest_news.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>New_article</servlet-name>
        <servlet-class>com.forum_article.controller.Forum_article_Servlet_front</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>New_article</servlet-name>
        <url-pattern>/front-end/forum_article/new_article.do</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>New_message</servlet-name>
        <servlet-class>com.article_message.controller.Article_message_Servlet_front</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>New_message</servlet-name>
        <url-pattern>/front-end/forum_article/new_msg.do</url-pattern>
    </servlet-mapping>
	
	<!-- 管理員 -->	
	<servlet>
		<servlet-name>ManagerRegister</servlet-name>
		<servlet-class>com.manager.controller.ManagerRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerRegister</servlet-name>
		<url-pattern>/back-end/manager_login/mngRegister.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManagerLogin</servlet-name>
		<servlet-class>com.manager.controller.ManagerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerLogin</servlet-name>
		<url-pattern>/back-end/manager_login/mngLogin.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManagerServlet</servlet-name>
		<servlet-class>com.manager.controller.ManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerServlet</servlet-name>
		<url-pattern>/back-end/manager/manager.do</url-pattern>
	</servlet-mapping>

</web-app>